
<div class="p-4">
    
    <div class="card bg-base-100 shadow-sm">
    
        <figure class="aspect-square">
            <img src="<%= meal.imageUrl %>" class="object-cover w-full h-full object-top" alt="MealKit Image" />
        </figure>
    
        <div class="card-body">
            <h2 class="card-title"><%= meal.title %></h2>
            <p><%= meal.description %></p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    
        </div>
</div>
