<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
        <img src="/images/enjoy.png" alt="Welcome food image"
            class="max-w-sm rounded-lg shadow-2xl" />
        <div>
            <h1 class="text-5xl font-bold">Welcome to EasyCook!!</h1>
            <p class="py-6">
                EasyCook is your ultimate recipe companion, designed to make cooking a breeze. Whether you're a seasoned chef or just starting out, our platform offers a vast collection of delicious recipes, personalized meal plans, and helpful cooking tips. With EasyCook, you can easily find recipes that suit your taste and dietary preferences, create shopping lists, and even share your culinary creations with friends and family. Get ready to explore a world of flavors and elevate your cooking game with EasyCook!
            </p>
            <a class="btn btn-primary" href="/mealkits">Browse Recipes</a>
        </div>
    </div>
    </div>